body{
    margin: 20px;
    font-family: 'Arial';
    font-size: 80%;
    background-color: #eee;
}

input{
}

#help{
    float: right;
}

span h4{
    display: inline-block;
}

#summary-table table{
   border:1px solid black;
   font-size: 20px;
}

#summary-table table th{
    font-weight: bold;
    background-color: black;
    color: white;
    padding:0 10px;
}

td{
    padding:0 10px;
}

#summary-table table tr:nth-child(even){
    background-color: #eee;
}
#summary-table table tr:nth-child(odd){
    background-color: #fff;
}

#summary-text{
    position: relative;
    left:10%;
    font-size: large;
    margin: 0;
}

