<div class="container">
  <div *ngIf="success" class="alert alert-success alert-dismissible">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong>Bank Details Updated Successfully!</strong>
  </div>
  <div *ngIf="!editable" class="row pt-5">
    <div class="col-md-8 mx-auto">
      <div class="card">
        <div class="card-header text-center">
          <h4>
            Bank Details
          </h4>
        </div>
        <div class="card-body">
          <table class="table">
            <tr>
              <th>
                Bank Name
              </th>
              <th>
                Account Number
              </th>
              <th>
                IFSC Code
              </th>
              <th>
                Update
              </th>
            </tr>
            <tr>
              <td>
                <app-skeleton-loader *ngIf="!loaded" class="d-flex justify-content-center" Cwidth="100" Cheight="30"></app-skeleton-loader>
                <span *ngIf="loaded">{{bank_details.bank_name}} </span>
              </td>
              <td>
                <app-skeleton-loader *ngIf="!loaded" class="d-flex justify-content-center" Cwidth="100" Cheight="30"></app-skeleton-loader>
                <span *ngIf="loaded"> {{bank_details.acc_no}} </span>
              </td>
              <td>
                <app-skeleton-loader *ngIf="!loaded" class="d-flex justify-content-center" Cwidth="100" Cheight="30"></app-skeleton-loader>
                <span *ngIf="loaded"> {{bank_details.ifsc_code}} </span>
              </td>
              <td>
                <app-skeleton-loader *ngIf="!loaded" class="d-flex justify-content-center" Cwidth="40" Cheight="40"></app-skeleton-loader>
                <button *ngIf="loaded" (click)="editable=true;success=false" class="btn btn-primary d-flex justify-content-center"><i class="fa fa-pencil" aria-hidden="true"></i></button>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="editable" class="row pt-5 pb-5">
    <div class="col-md-8 mx-auto">
      <div class="card rounded-0">
        <div class="card-header bg-light">
          <h3 class="mb-0">Update Bank Details</h3>
        </div>
        <div class="card-body">
          <form [formGroup]="bank_form" novalidate (ngSubmit)="updateBankDetails()" class="form">
            <div formGroupName="bank_details">
              <div class="form-group">
                <label for="">Bank Name</label>
                <input type="text" class="form-control" formControlName="bank_name">
              </div>

              <div class="form-group">
                <label for="">Account Number</label>
                <input type="number" class="form-control" formControlName="acc_no">
              </div>

              <div class="form-group">
                <label for="">IFSC Code</label>
                <input type="text" class="form-control" formControlName="ifsc_code">
              </div>
            </div>
            <button class="btn btn-warning ml-2">Update</button>
            <button class="btn btn-warning ml-2" (click)="editable=false">Close</button>
          </form>
        </div>
      </div>
    </div>
  </div>

</div>
