<!-- <ul *ngFor="let farmer of farmers">
<li>{{farmer|json}}</li>
</ul> -->
<div *ngIf="!editable" class="row pt-5">
  <div class="col-md-8 mx-auto">
    <div class="card">
      <div class="card-header text-center">
        <h4>
          Farmers on Crop Deal Portal
        </h4>
      </div>
      <div class="card-body table-responsive">
        <div *ngIf="updated" class="alert alert-success alert-dismissible">
          <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
          <strong>Profile Updated</strong>
        </div>
        <div *ngIf="deleted" class="alert alert-danger alert-dismissible">
          <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
          <strong>Profile Deleted</strong>
        </div>
        <table class="table">
          <tr>
            <th>
              ID
            </th>
            <th>
              Name
            </th>
            <th>
              Email
            </th>
            <th>
              Phone
            </th>
            <th>
              Actions
            </th>
          </tr>
          <tr *ngFor="let farmer of farmers">
            <td>
              <app-skeleton-loader *ngIf="!loaded" class="d-flex justify-content-center" Cwidth="100" Cheight="30"></app-skeleton-loader>
              <span *ngIf="loaded">{{farmer._id}} </span>
            </td>
            <td>
              <app-skeleton-loader *ngIf="!loaded" class="d-flex justify-content-center" Cwidth="100" Cheight="30"></app-skeleton-loader>
              <span *ngIf="loaded">{{farmer.name}} </span>
            </td>
            <td>
              <app-skeleton-loader *ngIf="!loaded" class="d-flex justify-content-center" Cwidth="100" Cheight="30"></app-skeleton-loader>
              <span *ngIf="loaded"> {{farmer.email}} </span>
            </td>
            <td>
              <app-skeleton-loader *ngIf="!loaded" class="d-flex justify-content-center" Cwidth="100" Cheight="30"></app-skeleton-loader>
              <span *ngIf="loaded"> {{farmer.phone}} </span>
            </td>
            <td>
              <app-skeleton-loader *ngIf="!loaded" class="d-flex justify-content-center" Cwidth="60" Cheight="40"></app-skeleton-loader>
              <button *ngIf="loaded" (click)="editable=true; getDetails(farmer._id,farmer.role)" class="btn btn-sm btn-primary mr-1"><i class="fa fa-pencil" aria-hidden="true"></i></button>
              <button *ngIf="loaded" (click)="farmerId=farmer._id;role=farmer.role" type="button" data-toggle="modal" data-target="#deleteModalCenter"class="btn btn-sm btn-danger mr-1"><i class="fa fa-trash" aria-hidden="true"></i></button>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>

<div *ngIf="editable" class="row pt-5 pb-5">
  <div class="col-md-8 mx-auto">
    <div class="card rounded-0">
      <div class="card-header bg-light">
        <h3 class="mb-0">Update Profile as Admin</h3>
      </div>
      <div class="card-body">
        <form [formGroup]="profileForm" novalidate (ngSubmit)="updateProfile()"  class="form">
            <div class="form-group">
              <label for="">Name</label>
              <input type="text" class="form-control" formControlName="name">
            </div>

            <div class="form-group">
              <label for="">Email</label>
              <input type="email" class="form-control" formControlName="email">
            </div>

            <div class="form-group">
              <label for="">Phone</label>
              <input type="number" class="form-control" formControlName="phone">
            </div>

            <div class="form-group">
              <label for="">Description</label>
              <input type="text" class="form-control" formControlName="description">
            </div>
          <button class="btn btn-warning ml-2">Update</button>
          <button class="btn btn-warning ml-2" (click)="editable=false">Close</button>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="deleteModalCenter" tabindex="-1" role="dialog" aria-labelledby="deleteModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Are you sure?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Do you really want to delete this record? This process cannot be undone.
      </div>
      <div class="modal-footer">
        <button type="button" (click)="deleteProfile(farmerId,role)" data-dismiss="modal" class="btn btn-danger">Yes, Delete it</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
