<!-- {{user | json}} -->
<div class="d-flex" id="wrapper">

  <!-- Sidebar -->
  <div class="bg-light border-right" id="sidebar-wrapper">
    <div class="sidebar-heading">Welcome, {{email}}</div>
    <div class="list-group list-group-flush">
      <a  routerLink="profile"  class="list-group-item list-group-item-action bg-light">Profile</a>
      <span *ngIf="role === 'farmer'"><a  routerLink="addCrop"  class="list-group-item list-group-item-action bg-light">Add Crop</a></span>
      <span *ngIf="role === 'farmer'"><a  routerLink="viewCrop"  class="list-group-item list-group-item-action bg-light">View Added Crops</a></span>
      <span *ngIf="role === 'dealer'"><a routerLink="subscribedCrops"  class="list-group-item list-group-item-action bg-light">Subscribed Crops</a></span>
      <span *ngIf="role === 'dealer'"><a  routerLink="paymentDetails"  class="list-group-item list-group-item-action bg-light">Payment Details</a></span>
      <span *ngIf="role === 'admin'"><a  routerLink="admin-farmer-management"  class="list-group-item list-group-item-action bg-light">Farmers Management</a></span>
      <span *ngIf="role === 'admin'"><a  routerLink="admin-dealer-management"  class="list-group-item list-group-item-action bg-light">Dealers Management</a></span>
      <span *ngIf="role === 'admin'"><a  routerLink="admin-crop-management"  class="list-group-item list-group-item-action bg-light">Crops Management</a></span>
      <span *ngIf="role === 'admin'"> <a routerLink="admin-orders"  class="list-group-item list-group-item-action bg-light">View Orders</a> </span>
      <span *ngIf="role === 'farmer' || role === 'dealer'"> <a routerLink="bankDetails"  class="list-group-item list-group-item-action bg-light">Bank Details</a> </span>
      <span *ngIf="role === 'farmer' || role === 'dealer'"> <a routerLink="invoices"  class="list-group-item list-group-item-action bg-light">View Invoices</a> </span>

    </div>
  </div>
  <!-- /#sidebar-wrapper -->

  <!-- Page Content -->
  <div id="page-content-wrapper">

    <button class="btn btn-light" onclick="toggle()" id="menu-toggle"><i class="fa fa-bars"></i></button>

      <router-outlet></router-outlet>
  </div>

  </div>
  <!-- /#page-content-wrapper -->





