<h3>Menu</h3>

    <table class="table">
        <tr *ngIf="isAdmin">
            <td>
                <input type="text" name="menu" #menuName>
            </td>
            <td>
                <button class="btn btn-primary" (click)="addMenu(menuName.value)">Add Menu</button>
            </td>
        </tr>

        <tr>
            <th>Menu ID</th>
            <th>Menu name</th>
            <th>Actions</th>
        </tr>
        <tr *ngFor="let menu of menus">
            <td>
                <span>{{menu.id}}</span>
            </td>
            <td>
                {{menu.menuName}}
            </td>
            <td *ngIf="isAdmin">
                <a routerLink="/menus/{{menu.id}}" class="btn btn-warning">Edit & Assign Menu</a>
                <button (click)="deleteMenu(menu)" class="btn btn-danger ml-2">Delete</button>
            </td>
        </tr>
    </table>

