<header class="masthead text-white text-center">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-xl-9 mx-auto">
        <h1 class="display-5 text-justify">Crop Deal is the online Agri-Market where you can Buy or Sell or Advertise fruits & vegetables, agri products</h1>
      </div>
      <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
        <a routerLink="/login" class="btn btn-lg btn-primary">Start your journey with CropDeal</a>
      </div>
    </div>
  </div>
</header>

<!-- Icons Grid -->
<section class="features-icons bg-light text-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
          <div class="features-icons-icon d-flex">
            <i class="icon-user m-auto text-primary"></i>
          </div>
          <h3>Multiple Users</h3>
          <p class="lead mb-0">Online Portal Where farmers can submit their Agri Produce for sale to interested buyers/dealers</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="features-icons-item mx-auto mb-0 mb-lg-3">
          <div class="features-icons-icon d-flex">
            <i class="icon-check m-auto text-primary"></i>
          </div>
          <h3>Digital Transactions</h3>
          <p class="lead mb-0">We drive agricultural transactions through our digital platform, Crop Deal accommodates online payments between buyer and seller</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
          <div class="features-icons-icon d-flex">
            <i class="icon-layers m-auto text-primary"></i>
          </div>
          <h3>Transperancy</h3>
          <p class="lead mb-0">We aim to offer fair food trade between farmers and buyers</p>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="container mx-auto bg-light p-4">
  <div class="row m-2">
    <div class="col-lg-12">
      <h1 class="display-5 text-center">Get Started</h1>
      <h5 class="text-justify">
        CropDeal provides an open platform for farmers to sell their crops to wide range of buyers. Farmer just needs to post crop details as a registered seller,
        interested buyers will respond to suitable deals. We as a platform support fair trade and transperency between farmers and buyers. There are two ways to get started
        with digital journey of food supply chain
      </h5>
    </div>
  </div>
  <div class="row m-5">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Farmer</h5>
          <p class="card-text text-justify">As a farmer, post crop details you are looking to sell and monitor your offers through dashboard.</p>
          <div class="d-flex justify-content-center">
            <a routerLink="/signup" class="btn btn-primary">Signup as a farmer</a>
          </div>

        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Dealer</h5>
          <p class="card-text text-justify">As a dealer, navigate through posted crop details by many farmers choose deal suitable to you.</p>
          <div class="d-flex justify-content-center">
            <a routerLink="/signup" class="btn btn-primary">Signup as a dealer</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- <section class="showcase">
  <div class="container-fluid p-0">
    <div class="row no-gutters">

      <div class="col-lg-6 order-lg-2 text-white showcase-img" id="sec1"></div>
      <div class="col-lg-6 order-lg-1 my-auto showcase-text">
        <h2>Lorem ipsum dolor sit.</h2>
        <p class="lead mb-0">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ullam repellat, consequatur expedita esse hic ratione.</p>
      </div>
    </div>
    <div class="row no-gutters">
      <div class="col-lg-6 text-white showcase-img" id="sec2"></div>
      <div class="col-lg-6 my-auto showcase-text">
        <h2>Lorem ipsum dolor sit.</h2>
        <p class="lead mb-0">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Reiciendis ipsa vel deserunt qui itaque debitis accusantium, natus voluptatem a minus.</p>
      </div>
    </div>
    <div class="row no-gutters">
      <div class="col-lg-6 order-lg-2 text-white showcase-img" id="sec3"></div>
      <div class="col-lg-6 order-lg-1 my-auto showcase-text">
        <h2>Lorem ipsum dolor sit.</h2>
        <p class="lead mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam, ut. Odio ad libero nisi fugiat nostrum. Consequatur architecto modi earum?</p>
      </div>
    </div>
  </div>
</section> -->





<!-- Call to Action -->
<!-- <section class="call-to-action text-white text-center">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-xl-9 mx-auto">
        <h2 class="mb-4">Ready to get started? Sign up now!</h2>
      </div>
      <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
        <form>
          <div class="form-row">
            <div class="col-12 col-md-9 mb-2 mb-md-0">
              <input type="email" class="form-control form-control-lg" placeholder="Enter your email...">
            </div>
            <div class="col-12 col-md-3">
              <button type="submit" class="btn btn-block btn-lg btn-primary">Sign up!</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section> -->

<!-- Footer -->
<footer class="footer sticky-bottom">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
        <p class="text-muted small mb-4 mb-lg-0">&copy; Crop Deal 2020. All Rights Reserved.</p>
      </div>
      <div class="col-lg-6 h-100 text-center text-lg-right my-auto">
        <ul class="list-inline mb-0">
          <li class="list-inline-item mr-3">
            <a href="#">
              <i class="fa fa-facebook fa-2x fa-fw"></i>
            </a>
          </li>
          <li class="list-inline-item mr-3">
            <a href="#">
              <i class="fa fa-twitter-square fa-2x fa-fw"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="#">
              <i class="fa fa-instagram fa-2x fa-fw"></i>
            </a>
          </li>
          <!-- <li><i class="fa fa-star fa-2x"></i><i class="fa fa-star fa-2x"></i><i class="fa fa-star fa-2x"></i><i class="fa fa-star-o fa-2x"></i><i class="fa fa-star-o fa-2x"></i></li> -->
        </ul>
      </div>
    </div>
  </div>
</footer>
